{% extends 'base.html' %}

{% block content %}
    <h2>Doctors</h2>
    <table>
        <thead>
        <tr>
            {% if doctors %}
                {% for column in doctors[0].keys() %}
                    <th>{{ column }}</th>
                {% endfor %}
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for doctor in doctors %}
            <tr>
                {% for value in doctor.values() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
