{% extends 'base.html' %}

{% block content %}
    <h2>Doctors</h2>
    <table>
    <thead>
        <tr>
            <th>Doctor ID</th>
            <th>Doctor Name</th>
            <th>Specialization</th>
            <th>Contact Info</th>
            <th>Room Number</th>
            <th>Availability</th>
        </tr>
    </thead>
    <tbody>
        {% for doctor in doctors %}
            <tr>
                <td><a href="{{ url_for('doctors.doctors', doctor_id=doctor.doctor_id) }}">{{ doctor.doctor_id }}</a></td>
                <td>{{ doctor.name }}</td>
                <td>{{ doctor.specialty }}</td>
                <td>{{ doctor.contact_info }}</td>
                <td>{{ doctor.room_number }}</td>
                <td>{{ doctor.availability }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
