{% extends 'base.html' %}

{% block content %}
    <h2>Bill</h2>
    <a href="{{ url_for('billing.add_bill') }}">Add New Patient</a>
    <a href="{{ url_for('billing.edit_bill', bill_id = billing[0].bill_id) }}">Edit Bill</a>
    <a href="{{ url_for('billing.delete_bill', bill_id=billing[0].bill_id) }}">Delete Bill</a>
    <table>
        <thead>
            <tr>
                {% if billing %}
                    {% for column in billing[0].keys() %}
                        <th>{{ column }}</th>
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for bill in billing %}
            <tr>
                {% for value in bill.values() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}