{% extends 'base.html' %}

{% block content %}
    <h2>Bill</h2>
    <a href="{{ url_for('billing.add_bill') }}">Add New Patient</a>
    <a href="{{ url_for('billing.edit_bill', bill_id = billing[0].bill_id) }}">Edit Bill</a>
    <a href="{{ url_for('billing.delete_bill', bill_id=billing[0].bill_id) }}">Delete Bill</a>
    <table>
        <thead>
            <tr>
                <th>Bill ID</th>
                <th>Patient Name</th>
                <th>Amount</th>
                <th>Bill Date</th>
                <th>Payment Status</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in billing %}
            <tr>
                <td><a href="{{ url_for('billing.billing', bill_id=bill.bill_id) }}">{{ bill.bill_id }}</a></td>
                <td>{{ bill.patient_name }}</td>
                <td>{{ bill.amount }}</td>
                <td>{{ bill.bill_date }}</td>
                <td>{{ bill.payment_status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}