{% extends 'base.html' %}

{% block content %}
    <h2>Patients List</h2>
    <a href="{{ url_for('patients.add_patient') }}" class="button">Add New Patient</a>
    <table>
        <thead>
            <tr>
                {% if patients %}
                    {% for column in patients[0].keys() %}
                        <th>{{ column }}</th>
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                {% set loop_index = loop.index0 %}
                {% for value in patient.values() %}
                    <td>
                        {% if loop.index0 == 0 %} <!-- Assuming the first value is patient_id -->
                            <a href="{{ url_for('patients.patients', patient_id=value) }}">{{ value }}</a>
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
