{% extends 'base.html' %}

{% block content %}
    <h2>Patients List</h2>
    <a href="{{ url_for('appointments.add_appointment') }}">Add New Appointment</a>
    <a href="{{ url_for('appointments.edit_appointment', appointment_id = appointments[0].appointment_id) }}">Edit Appointment</a>
    <a href="{{ url_for('appointments.delete_appointment', appointment_id=appointments[0].appointment_id) }}">Delete Appointment</a>
    <table>
        <thead>
            <tr>
                {% if appointments %}
                    {% for column in appointments[0].keys() %}
                        <th>{{ column }}</th>
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                {% for value in appointment.values() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}